<div id="footer" class="print-hide">
	<p id="messaggio-footer-copyright"
	   class="messaggio-footer">
		Copyright Uovo alla coque 2020 - Tutti i diritti
		riservati ©
	</p>

	<ul id="nomi-contatti">
		<li>Agatea Riccardo</li>
		<li>Bosinceanu Ecaterina</li>
		<li>Righetto Sara</li>
		<li>Schiavon Rebecca</li>
	</ul>

	<ul id="immagine-footer">
		<li class="logo-footer">
			<img id="immagine-html"
				 src="<rootFolder />/img/icone/validXHTML.png"
				 alt="HTML valido" />
		</li>
		<li class="logo-footer">
			<img id="immagine-css"
				 src="<rootFolder />/img/icone/validCSS.png"
				 alt="CSS valido" />
		</li>
	</ul>
</div>
