a:link:after, a:visited:after {
    content: " [www.uovaallacoque.it" attr(href) "] ";
    font-size:90%;
    }


#immagine-logo {
    height: 4em;
}

.chiudi-nav, .apri-nav, .nav, .elenco-immagine, .torna-su-link, #footer, .paginazione, .immagine-ricetta, #link-modifica-ricetta, #link-elimina-ricetta, #sezione-commenti, #inserimento-commento, .print-hide {
    display: none;
}

.elenco-migliori {
    list-style: none;
}
