a:link:after, a:visited:after {
    content: " [www.uovaallacoque.it" attr(href) "] ";
    font-size:90%;
    }


#immagine-logo {
    height: 4em;
}

.chiudi-nav, .apri-nav, .nav, .elenco-immagine, .torna-su-link, .paginazione, .immagine-ricetta, #link-modifica-ricetta, #link-elimina-ricetta, #inserimento-commento, .print-hide {
    display: none;
}

.elenco-migliori {
    list-style: none;
}

.elenco-titolo {
    margin:0;
}

.commenti, #elenco-content{
    list-style-type: none;
}
.commento, .elenco-elemento {
    border: black solid;
    border-width: 1px;
    margin: 1em;
    padding: 1em;
}
.commento-dataora {
    font-size: 80%;
}

