/*regole generiche*/
* {
	padding: 0;
	margin: 0;
}

html, body {
	max-width: 1024px;
	margin: 0em auto;
}

/*sfondo e stile*/
html{
    background-image: url("../img/sfondo/sfondo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
body{
    background-color: rgba(211, 224, 245,0.7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em 0em;
}
#content{
    margin: 1em;
}
/*Footer*/
#footer {
	text-align: left;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: space-between;
    margin-top: 8em;
    position: relative;
    bottom: -1em;
    background-color: rgba(43, 115, 156, 0.5);
}

#footer ul {
	list-style-type: none;
    margin-right: auto;
}
/*fine footer*/
ul{
    list-style-type: none;
}
ul li a {
    color: black;
}
/*menu*/
#menu{
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: rgba(211, 224, 245,0);
    margin-bottom: 2em;
}
#menu li{
    display: block;
    width:9em;
    height: 2.5em;
    border: 0.05em solid black;
    margin:0.2em;
    background-color: rgba(245, 233, 66, 0.6);
   
}
#menu a {
    display: block;
    font-size: 1em;    
    
}
#home{
    text-align: center;
}
#primi{
    text-align: center;
}
#secondi{
    text-align: center;

}
#dolci{
    text-align: center;
    
}
/*fine menu*/
/*logo*/
#immagine-logo{
   width: 12em;
   height: 2em;
   margin-left: 0.5em;
   margin-top: -1em;
   margin-bottom: 0.5em;
  /* background-color:rgb(94, 189, 230);*/
}
/*fine logo*/
#barra_ricerca{
    text-align: center;
}

a:visited {
    color: red;
    border-color: black;
}

a:hover {
    background-color:rgba(252, 255, 74,0.6);
    height:2.5em;
    width: 9em;
}
/*accesso*/
#lista_accesso{
    margin-top: -1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(211, 224, 245,0);

}
#lista_accesso li a:hover{
    background-color:rgb(252, 255, 74); /*istruzione ridondante perchè non mi faceva l'hover su accedi e registra*/  
}
#accedi_scritta{
    padding-right: 0.5em;
}
/*breadcrumb*/
/*#breadcrumb{
    margin-top: 1em;
    margin-bottom: 1em;
}*/
/*introduzione*/
#introduction{
    border-style: dashed;
    border-width: 0.07em;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
/*piatti migliori*/
.elenco-migliori {
    margin-top: 1em;
}
.elenco-migliori dt {
    font-size: larger;
    font-weight: bolder;
}

/*Login*/
.legend{
    margin-left: 1em;
}
.form-fieldset{
    margin-top: 2em;
    margin-bottom: 2em;
    border: none; /*non mi piaceva il cornicione*/
    
}
.form-container {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 15em;
    height: 2em;
    border-radius: 0.5em;
}
.label{

}
ul li .warning{
    color: red;
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
}
ul li input{
    display: block;
    margin: 0 auto 0 auto;
}
.submit{
    font-size: medium;
    width: 5em;
    height: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

/*inizio pagina elenco*/
.elenco-content {
    display: flex;
    flex-direction: column;
    
}
.elenco-elemento {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    margin: 1em;
    height: 10em;
    background-color: rgba(245, 233, 66, 0.4);
    border: black solid 1px;
}

.elenco-immagine {
    height: 10em;
    width: 10em;
    object-fit: contain;
}

.elenco-titolo {
    margin-left: 1em;
    display: inline;
}

.elenco-attributi {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}
/*fine pagina elenco*/
.submitutente{
    width: 10em;
    height: 2em;
    margin-top: 1em;
}