/*regole generiche*/
* {
	padding: 0em;
	margin: 0em;
}

html, body {
	max-width: 1024px;
    margin: 0em auto;
    padding: 0em 0em;
}

/*sfondo e stile*/

html {
    background-color: white;
}
body{
    background-color: rgba(211, 224, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#content{
    margin: 1em;
}
/*Footer*/
#footer {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
	align-items: flex-start;
	justify-content: center;
    margin-top: 8em;
    position: relative;
    bottom: -1.1em;
    background-color: rgba(43, 115, 156, 0.5);
    height: 12em;
    font-size: 0.9em;
}
.messaggio-footer{
    align-self: center;
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#logo-social li{
    display: inline;
    margin-left: 1em;
}
#logo-social {
    align-self: center;
}
#nomi-contatti li{
    display: inline;
    margin-left:0.3em;
}
#nomi-contatti {
    position: relative;
    top:2.5em;
}
#immagine-footer li{
    display: inline;

}
#immagine-footer{
    position: relative;
    align-self: flex-end;
    top:0.6em;
}

.social{
    font-size: xx-large;

}
.fa-facebook-square:hover{
    color: rgb(59,89,152);
}
.fa-instagram:hover{
    color: rgb(250, 90, 186);
}
.fa-youtube:hover{
    color: rgb(205,32,31);
}
.messaggio-footer{
    text-align: center;
}
#logo-social a:visited{
    color: rgb(255, 226, 147);
}
/*fine footer*/
ul{
    list-style-type: none;
}
ul li a {
    color: black;
}

/*menu*/

#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    color: white;
}

#menu-pagine {
    display: flex;
    flex-direction: row;
}

#menu a:visited {
    color: #cecece;
}

.elementoMenu{
    text-align: center;
    display: block;
    width:9em;
    margin:0.2em;
    font-size: 1.1em;
}

.elementoMenu a {
    display: block;
    font-size: 1em;
}

#menu a:hover {
    background-color:rgba(253, 190, 17, 0.801);
}

/*fine menu*/
/*logo*/
#immagine-logo{
   height: 4em;
   align-items: center;
}
/*fine logo*/
#barra-ricerca{
    text-align: center;
    color: white;    
}
.barra-cerca{
    width: 25em;
    height: 2em;
}
#immagine-lente{
    position: relative;
    top:0.7em;
    background-color: rgb(242, 242, 242);
    width: 1.2em;
    height: 1.2em;
    border-style: solid;
    border-color: gray;
    border-width:  0.01em;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: 0em;
}
#immagine-lente:hover{
    background-color: orange;
}


#lista_accesso a:visited{
    color: #cecece;
    border-color: black;
}


/*accesso*/
#lista_accesso{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
#lista_accesso li a:hover{
    background-color:rgba(253, 190, 17, 0.801); /*istruzione ridondante perchè non mi faceva l'hover su accedi e registra*/
}
#accedi_scritta{
    padding-right: 0.5em;
}
#nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 1em;
}

#breadcrumb{
    background-color: rgba(211, 224, 245);
    padding-top: 1em;
    padding-left: 2em;
}

#header{
        margin-bottom: 3em;
        padding-top: 1em;
        background-color: rgb(41,49,51);
}
/* torna su */
#tornaSuLink{
    position: absolute;
    right: 15%;
    margin-top: 2em;
    /* margin-right: 10em; */
}

/*introduzione*/
#introduction{
    border-style: dashed;
    border-width: 0.07em;
    padding: 1em;
    margin: 3em;
}
/*piatti migliori*/
.elenco-migliori {
    margin-top: 1em;
}
.elenco-migliori dt {
    font-size: larger;
    font-weight: bolder;
}

/*Login*/
.legend{
    margin-left: 1em;
}
.form-fieldset{
    margin-top: 2em;
    margin-bottom: 2em;
    border: none; /*non mi piaceva il cornicione*/

}
.form-container {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 15em;
    height: 2em;
    border-radius: 0.5em;
}

.warning{
    color: red;
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
}
ul li input{ /*uguale a .barra-input */
    display: block;
    margin: 0 auto 0 auto;
}
.submit{
    font-size: medium;
    /* width: 5em; su registrati viene tagliata la scritta*/
    height: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

/*inizio pagina elenco*/
#elenco-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.elenco-elemento {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content:flex-start;
    margin: 1em;
    width: 18em;
    background-color: rgb(41,49,51);
    color: white;
    border-radius: 3em;
}

.elenco-immagine {
    border-radius: 10em;
    margin-top: 1em;
    height: 14em;
    width: 14em;
    object-fit: contain;    
}

.elenco-testo {
    margin: 1em;
}

/*fine pagina elenco*/
.submitutente{
    width: 10em;
    height: 2em;
    margin-top: 1em;
}


.apri-nav{
    display: none;
}
.chiudi-nav {
    display: none;
}
/*pagina utente*/
.form-element {
    width: 12em;
}

/*mobile*/
@media screen and (max-width: 768px){
    body {
        width: 100%;
    }

    #header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
   #immagine-logo{
        height: 4em;
    } 
    .elenco-content {
        display: flex;
        flex-wrap: wrap;        
    }
   .elenco-elemento {
       height: 8em;
       width: 20em;
       flex-direction: row;
       justify-content: flex-start;
    }
    .elenco-testo {
        width: initial;
        flex-direction: column;
        font-size: small;
        margin-left: 0em;
    }
   .elenco-immagine {
        height: 6em;
        width: 6em;
        margin: 1em;    
    }
   .elenco-titolo {
        display: block;
        font-size: small;
    }
    .elenco-attributi {
        display: block;
    }

    #breadcrumb {
        display: none;
    }
    #lista_accesso{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.1em;
    }
    
    .barra-cerca{
        width: auto;
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        margin: -6em 0 0 0;
        padding: 3em;
        padding-top: 5em;
        right: -15em;
        z-index: 1;
        transition: 0.5s;
        background: rgb(41,49,51);
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .elementoMenu {
        height: 2em;
    }

    .nav a {
        color: white;
    }

    .nav a:visited {
        color: red;
    }

    .menu-active {
        width: 30em;
    }

    .chiudi-nav-active {
        display: block;
        margin-left: 85%;
        z-index: 1;
    }

    .chiudi-nav img {
        width: 3em;
        margin-bottom: 2em;
        margin-left: 0em;
    }


    .elementoMenu{
        margin: 0.3em 1em 0.5em 0em;
        text-align: left;
        text-decoration: none;
        font-size: 1.2em;
        color: #d6d6d6;
        display: block;
        transition: 0.3s;
        background: none;
        border: none;
    }

    #menu a {
        margin-bottom: 1.5em;
        text-decoration: none;
        text-align: left;
        color: #cecece;
        display: block;
        transition: 0.3s;
        width: max-content;
    } 


    .apri-nav {
        display: block;
        cursor: pointer;
    }
    .apri-nav img {
        width: 3em;
    }
}

@media screen and (max-width: 524px) {
    #immagine-logo {
        height: 2em;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 0.3em;
        
    }
    .sidenav a {
      font-size: 1em;
    }
    
}



/*fine mobile*/
